body{
	margin: 0;
	padding: 0;
}

p,a{
	font-family: Verdana;
	color: white;
	margin:0;
	padding: 0;
}

.Today{
	background: #32B6A6;
	height: 144px;
	width: 445.5px;
}

.Today-repr{
	display: inline-block;
	height: 144px;
	width: 230px;
}

.Today-temp{
	display: inline-block;
	height: 144px;
	width: 215px;
	position: absolute;
}

.wi-day-cloudy{
	color: white;
	font-size: 87px;
	padding-left: 42px;
	padding-top: 33px;
	height: 20px;
}

.Today-description{
	color: white;
	font-size: 13px;
	margin-left: 48px;
}

.Today-temperature{
	font-size: 67px;
	padding-top: 41px;
	height: 53px;
	padding-left: 23px;
}

.Today-Maxmin{
	color: #89E0DF;
	font-size: 14px;
	padding-left: 117px;
}

.wi-thermometer{
	color:#F7F7F7;
	position: relative;
	font-size: 26px;
	bottom: 106px;
	left: 138px;
}

.Today-settings{
	color: #F7F7F7;
	text-decoration: none;
	position: relative;
	bottom: 112px;
	left: 139px;
	font-size: 12px;
}

.Week{
	background: #20BBA6;
	height: 100px;
	width: 445.5px;
}

.Week-days,.Week-weather__today{
	display: inline-block;
	text-align: center;
	width: 63.64px;
	height: 101px;
	border-style: solid;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #CBCBCB;
	border-right-color: #CBCBCB;
	border-width: 1px;
	margin: -3px;
}

li:first-child{
	border-left-color: transparent;
	background: #32B6A6;
}

li:nth-child(1n+2){
	border-right-color: transparent;
}

li:hover{
	background: #32B6A6;
}

.Week-list{
    margin:0;
    padding: 0;
    height: 99px;
}

.Week-day{
	font-size: 14px;
	color: #88DAD9;
	padding-top: 13px;
}

.Week-temp{
	color: #ECEBEB;
	padding-top: 6px;

}

.wi-day-sunny,
.wi-cloud,
.wi-rain,
.wi-lightning,
.wi-day-sunny{
	font-size: 27px;
	color: #1D8F80;
	padding-top: 6px;
}


